
BasedOnStyle: Microsoft
IndentWidth: 4
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
AlignEscapedNewlines: DontAlign
AlwaysBreakTemplateDeclarations: Yes
IndentRequires: true
IndentExternBlock: NoIndent
---
